.grid {
  display: flex;
  flex-wrap: wrap;
  > article {
    padding: 0.7em 1.4em;
    line-height: 0.5em;
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
  }
}