/* ===========================
   Layout/Nav
   =========================== */

nav {
  ul {
    text-align: right;
    li {
      display: inline;
      font-size: 1.2em;
      padding: 0 1em;
    }
  }
}