/* ===========================
   Modules/Box
   =========================== */

.card {
  border: 1px solid #ddd;
  box-shadow: 10px 10px 30px -9px rgba(0, 0, 0, .4);
  transition: box-shadow 1s;
  &:hover {
    box-shadow: 10px 10px 30px -9px rgba(0, 0, 0, .75);
  }
}

.card-head  {

}

.card-body  {

}

.card-foot  {

}