/* ===========================
   Base
   =========================== */

body {
  // background-image: url(//basehold.it/i/24);
  font-family: $font;
}

a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    a {
      transition: 1s;
      &:hover {
        color: #222;
        transition: 1s;
      }
    }
  }
}